<div class="navbar-default affix toolbar clearfix">
  <div class="format">
    <a href="#" class="toolbar-bold">
      <%= icon 'bold' %>
    </a>
    <a href="#" class="toolbar-italic">
      <%= icon 'italic' %>
    </a>

    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-ul" class="function-button">
      <%= icon 'list-ul' %>
    </a>
    <a href="#" id="function-ol" class="function-button">
      <%= icon 'list-ol' %>
    </a>
    <a href="#" id="function-blockquote" class="function-button">
      <%= icon 'quote-left' %>
    </a>
    <a href="#" id="function-hr" class="function-button">
      <%= icon 'minus' %>
    </a>

    <span class="function-divider">&nbsp;</span>
    <a href="#" class="toolbar-h1">
      <span>h1</span>
    </a>
    <a href="#" class="toolbar-h2">
      <span>h2</span>
    </a>
    <a href="#" class="toolbar-h3">
      <span>h3</span>
    </a>

    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-link" class="function-button">
      <%= icon 'link' %>
    </a>
    <a href="#" id="function-image" class="function-button">
      <%= icon 'image' %>
    </a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-help" class="function-button">
      <%= icon 'question-circle' %>
    </a>
  </div>
  <div class="misc">
    <a href="#" class="active file">
      <%= icon 'file-text' %>
    </a>
    <a href="#" class="meta-data">
      <%= icon 'list-alt' %>
    </a>
    <a href="#" class="save">
      <%= icon 'save' %>
    </a>
  </div>
</div>