<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= canonical_tag -%>
  <%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>KISS my BLOG</title>
</head>
<body>
  <header class="site-header">
    <nav class="nav" role="navigation">
      <div class="container">
        <button class="nav-toggle" data-toggle="collapse" data-target="#sidebar"><span class="sr-only">Toggle navigation</span></button>
        <h1 class="nav-brand"><a href="#">KISS my BLOG</a></h1>
        <div id="sidebar" class="collapse nav-collapse">
          <ul class="nav-right">
            <li>
              <a href="https://github.com/kissmyblog/kissmyblog" class="nav-link">View it on GitHub</a>
            </li>
            <% if signed_in? %>
              <li>
                <%= link_to repositories_path do %>
                  <%= image_tag(current_user['image'], class: 'avimg') %><%= current_user['login'] %>
                <% end %>
              </li>
              <li>
                <%= link_to "Sign out" , logout_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign in with GitHub", login_path, class: 'button' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="main">
    <%= yield %>
  </div>

  <footer class="site-footer">
    <div class="container credits">
      <p><span class="brand">KISS my BLOG</span> was lovingly crafted by <a href="https://www.twitter.com/_jpb">Jean-Paul Bonnetouche</a></p>
    </div>
    <ul class="avatars">
      <li>
        <a data-ignore="push" class="avatar" href="https://www.twitter.com/_jpb">
          <img src="https://secure.gravatar.com/avatar/5f9a9244be489b10ffb52bf394b1eb55?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="">
        </a>
        <iframe id="twitter-widget-2" scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/follow_button.1409790579.html#_=1410504817590&amp;id=twitter-widget-2&amp;lang=en&amp;screen_name=_jpb&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 93px; height: 20px;"></iframe>
      </li>
    </ul>
  </footer>
  <%= javascript_include_tag 'pages', 'data-turbolinks-track' => true %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55709348-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
